/*common*/
html,body {
    font-family: '微软雅黑';
    color: #333;
    min-width: 1100px;

}
.nav {
    min-width: 1100px;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.clearfix {
    display: inline-table;
}
.section {
    min-width: 1100px;
    position: relative;
}
*html .clearfix {
    height: 1%;

}
.clearfix {
    display: block;
}
.fp-easing {
    height: 36px;
    border-bottom: 1px solid #dfdfdf;
    font-size: 12px;
    line-height: 36px;
    color: #8c8c8c;
    background: #fafafa;
    margin-top: -36px;
}
.placeholder {
    height: 115px;
    filter:none;     /*处理IE9浏览器中的滤镜效果*/
    background-color:rgba(144,32,155,0.8);
    filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#CC90209B', endColorstr='#CC90209B');
}
.header {
    position: absolute;
    z-index: 9999;
    width: 100%;
}
.header img {
    z-index: 9999;
}
.nav {
    position: absolute;
    margin-top: 115px;
}
.u-textarea {
    font-size: 20px;
    line-height: 30px;
    width: 1036px;
    padding: 73px 32px 0;
    margin: 0 auto;
    filter:none;
    background-color:rgba(255,255,255,0.8);
    filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#CCFFFFFF', endColorstr='#CCFFFFFF');
    transform: scale3d(0, 1, 1);
    text-indent: 2em;
}
.copyright {
    height: 75px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.sprite-ban_nav_bg {
    position: absolute;
    top: 600px;
    height: 132px;
    opacity: 0;
}
div.sprite-ban_nav_bg li{
    margin-left: 0;
    width: 110px;
    height: 90px;
}
.ban_nav p {
    color: #fff;
    padding-top: 76px;
    width: 126px;
    height: 20px;
    font-size: 14px;
    text-indent: 0;
}
/*第一屏*/
#section0 {
	background: url("../images/bg1.jpg")/*tpa=http://www.sanyi.org/images/bg1.jpg*/ no-repeat center 165px;
}
#section0.section_m {
    background: url("../images/bg1_m.jpg")/*tpa=http://www.sanyi.org/images/bg1_m.jpg*/;
}
.triple li {
    float: left;
    width: 68px;
    height: 90px;
    margin-left: 149px;
    font-size: 0;
    text-indent: -9999px;

}
.triple li a{
    display: block;
    width: 100%;
    height: 100%
}
/*第二屏*/
#section1 {
	background: url("../images/bg2.jpg")/*tpa=http://www.sanyi.org/images/bg2.jpg*/ no-repeat center top;
}
#section1.section_m {
    background-image: url("../images/bg2_m.jpg")/*tpa=http://www.sanyi.org/images/bg2_m.jpg*/;
}
#section1 .u-textarea {
    height: 535px;
    position: absolute;
    left: 50%;
    margin-left: -550px;
    top: 215px;
}

/*第三屏*/
#section2 {
	background: url("../images/bg3.jpg")/*tpa=http://www.sanyi.org/images/bg3.jpg*/  no-repeat center top;
}
#section2.section_m {
    background-image: url("../images/bg3_m.jpg")/*tpa=http://www.sanyi.org/images/bg3_m.jpg*/;
}
#section2 .u-textarea {
    height: 465px;
    position: absolute;
    left: 50%;
    margin-left: -550px;
    top: 215px;
}
/*第四屏*/
#section3 {
	background: url("../images/bg4.jpg")/*tpa=http://www.sanyi.org/images/bg4.jpg*/  no-repeat center 49px;
}
#section3 .section_m {
    background: url("../images/bg4_m.jpg")/*tpa=http://www.sanyi.org/images/bg4_m.jpg*/ no-repeat center 49px;
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
    /*margin-top: -146px;*/
}
/*第五屏*/
#section4 {
	background: url("../images/bg5.jpg")/*tpa=http://www.sanyi.org/images/bg5.jpg*/  no-repeat center top;
}
#section4.section_m {
    background-image: url("../images/bg5_m.jpg")/*tpa=http://www.sanyi.org/images/bg5_m.jpg*/ no-repeat center top;
}
.u-reason {
    width: 1100px;
    margin: 0 auto;
    /*opacity: 0*/
    position: absolute;
    top: 288px;
    margin-left:-550px;
    left: 50%;
}
.u-reason li{
    padding: 23px;
    float: left;
    width: 311px;
    height: 207px;
    filter:none;
    background-color:rgba(255,255,255,0.8);
    filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#CCFFFFFF', endColorstr='#CCFFFFFF');
    margin: 8px 4px;
    opacity: 0;
    overflow-y:scroll;
}
/*第六屏*/
#section5 {
    background: url("../images/bg6.jpg")/*tpa=http://www.sanyi.org/images/bg6.jpg*/ no-repeat center top;
}
#section5.section_m {
    background-image: url("../images/bg6_m.jpg")/*tpa=http://www.sanyi.org/images/bg6_m.jpg*/;
}
/*第七屏*/
#section6 {
    background: url("../images/bg7.jpg")/*tpa=http://www.sanyi.org/images/bg7.jpg*/ no-repeat center top;
}
#section6.section_m {
    background-image: url("../images/bg7_m.jpg")/*tpa=http://www.sanyi.org/images/bg7_m.jpg*/;
}

.view1 {
    /*position: absolute;*/
    width: 100%;
    height: 100%;
}
.u-round1 {
    width: 1100px;
    margin: 0 auto;
}
.u-round2 {
    width: 832px;
    margin: -50px auto 0;
}

.u-round1 li,.u-round2 li{
    width: 197px;
    height: 198px;
    float: left;
    margin: 0 39px;
    opacity: 0;
}
.u-round2 li{
    margin-top: -50px;
}
#rou1 {
    background: url("../images/rou1.png")/*tpa=http://www.sanyi.org/images/rou1.png*/ no-repeat;
}
#rou2 {
    background: url("../images/rou2.png")/*tpa=http://www.sanyi.org/images/rou2.png*/ no-repeat;
}
#rou3 {
    background: url("../images/rou3.png")/*tpa=http://www.sanyi.org/images/rou3.png*/ no-repeat;
}
#rou4 {
    background: url("../images/rou4.png")/*tpa=http://www.sanyi.org/images/rou4.png*/ no-repeat;
}
#rou5 {
    background: url("../images/rou5.png")/*tpa=http://www.sanyi.org/images/rou5.png*/ no-repeat;
}
#rou6 {
    background: url("../images/rou6.png")/*tpa=http://www.sanyi.org/images/rou6.png*/ no-repeat;
}
#rou7 {
    background: url("../images/rou7.png")/*tpa=http://www.sanyi.org/images/rou7.png*/ no-repeat;
}
.how ul {
    width: 1100px;
    /*padding: 0 37px;*/
    position: absolute;
    top: 358px;
}
.how li {
    float: left;
    width: 206px;
    height: 455px;
    padding:26px 16px;
    filter:none;
    background-color:rgba(255,255,255,0.8);
    filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#CCFFFFFF', endColorstr='#CCFFFFFF');
    margin: 0 10px;
    opacity: 0;
    overflow-y:scroll;
}
.triple {
    width: 1100px;
    height: 500px;
    margin: 0 auto;
}
.triple h3 {
    background: url("../images/title.png")/*tpa=http://www.sanyi.org/images/title.png*/ no-repeat 0 0;
    width: 548px;
    height: 224px;
    font-size: 0;
    text-indent: -9999px;
    opacity: 0;
    position: absolute;
    top: 222px;
}
.triple .triple_nav {
    background: url("../images/title.png")/*tpa=http://www.sanyi.org/images/title.png*/ no-repeat 0 -1476px;
    width: 1100px;
    height: 178px;
    margin-top: 200px;
    opacity: 0;
    position: absolute;
    top: 50%;
}
.u-textarea h3{
    background: url("../images/title.png")/*tpa=http://www.sanyi.org/images/title.png*/ no-repeat 0 -221px;
    width: 441px;
    height: 185px;
    font-size: 0;
    text-indent: -9999px;
    opacity: 0;
    margin-bottom: 34px;
}
.u-textarea .more {
    padding: 9px 16px;
    background:#000;
    color: #fff;
    position: relative;
    left: 907px;
    top: 20px;
    opacity: 0;

}
.why h3 {
    background: url("../images/title.png")/*tpa=http://www.sanyi.org/images/title.png*/ no-repeat 0 -407px;
    width: 597px;
    height: 174px;
}
.u-textarea p{
    opacity: 0;
}
.youshi {
    width: 1100px;
    position: absolute;
    top: 100px;
    left: 50%;
    margin-left: -550px;
}
#section6 h3 {
    width: 404px;
    height: 174px;
    background: url("../images/title.png")/*tpa=http://www.sanyi.org/images/title.png*/ no-repeat 0 -1122px;
    opacity: 0;
    font-size: 0;
    text-indent: -9999px;
    margin-bottom: 60px;
    margin-left: 50px;
    margin-top: 50px
}
.u-reason h4 {
    text-align: center;
    font-size: 22px;
    color: #333;
    border-bottom: 1px solid #bdb8b5;
    line-height: 32px;
    font-weight: bold;
}
.u-reason p {
    font-size: 13px;
    line-height: 18px;
    text-indent: 0;
    margin-top: 20px;
}
#section5 h3 {
    height: 169px;
    background: url("../images/title.png")/*tpa=http://www.sanyi.org/images/title.png*/ no-repeat 0 -952px;
    opacity: 0;
    font-size: 0;
    text-indent: -9999px;
    opacity: 0;
    margin:50px 216px 30px;
    position: absolute;
    width: 668px;
    top: 27px;
}
.choose {
    width: 1100px;
    margin: 0 auto;
}
.how {
    width: 1100px;
    margin:0 auto;
}
.how h3 {
    height: 177px;
    background: url("../images/title.png")/*tpa=http://www.sanyi.org/images/title.png*/ no-repeat 0 -762px;
    font-size: 0;
    text-indent: -9999px;
    opacity: 0;
    margin: 50px 102px 10px;
    width: 896px;
    top: 32px;
    position: absolute;

}
.how .list_nav {
    height: 66px;
    background:url("../images/title.png")/*tpa=http://www.sanyi.org/images/title.png*/ no-repeat 0 -1396px;
    margin: 0 10px 24px;
    opacity: 0;
    position: absolute;
    width: 1100px;
    top: 270px;
}
.how h4 {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    color: #333;
}
.how span {
    font-size: 12px;
    text-align: center;
    margin:6px 0 25px;
    display: block;
}
.how p{
    font-size: 13px;
    line-height: 20px;
text-indent:0;
}
.howTo {
    width: 1100px;
    margin: 0 auto;
    height: 100%;
    padding: 165px 0;
}
.howTo h3 {
    width: 693px;
    height: 164px;
    background: url("../images/title.png")/*tpa=http://www.sanyi.org/images/title.png*/ no-repeat 0 -590px;
    font-size: 0;
    text-indent: -9999px;
    opacity: 0;
    margin: 0px 212px 65px;
    position: absolute;
    top: 83px;

}
.howTo ul{
    /*padding: 0 29px;*/
    position: absolute;
    top: 364px;
}
.howTo li {
    float: left;;
    width: 307px;
    font-size: 16px;
    padding: 0 20px;
    opacity: 0
}
.howTo h4 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.howTo span {
    font-size: 12px;
    text-align: center;
    margin: 6px 25px;
    display: block;
}
.howTo p {
    line-height: 28px;
    text-indent: 2em;
}
.howTo .list_nav{
    height: 64px;
    background: url("../images/title.png")/*tpa=http://www.sanyi.org/images/title.png*/ no-repeat 0 -1313px;
    margin: 0 12px 28px;
    opacity: 0;
    position: absolute;
    top: 270px;
    width: 1100px;
}

/*小屏调整*/
@media screen and (max-height: 800px){
    html,body {
        min-width: 1024px;
    }
    .nav {
        min-width: 1024px;
    }
    .section {
        min-width: 1024px;
    }
    .sprite-ban_nav_bg{
        top: 455px;
    }
    #section1 .u-textarea {
        top: 70px;
    }
    #section2 .u-textarea {
        width: 980px;
        top: 100px;
    }
    .howTo h3 {
        top: 87px;
        zoom:.6;
        left: 50%;
        margin-left: -346px;
    }
    .howTo .list_nav {
        top: 164px;
    }
    .howTo ul{
        top: 239px;
    }
    .how h3 {
        top:73px;
        zoom: .4;
        left: 50%;
        margin-left: -448px;
    }
    .how .list_nav{
        top: 122px;
    }
    .how ul{
        top: 184px;
    }
    #section5 h3{
        top: 47px;
        zoom: .5;
        left: 50%;
        margin-left: -333px;
    }
    .u-reason{
        top: 130px;
        margin-left: -553px;
    }
    #section6 h3{
        zoom: .6;
        top: -56px;
        position: absolute;
        margin-top: 0;
    }
    .u-round1 {
        margin-top: 82px;
    }
    .u-reason li {
        padding: 12px;
    }
    .u-textarea p {
        padding:10px 30px;
    }
    #section2 .u-textarea{
        margin-left: -525px;
    }
}

/*大屏背景*/
/*1440大屏最后一张
@media screen and (min-height: 980px){
    .copyright{
        top: 907px;
    }
}*/
@media screen and (max-height: 768px){
    #section0{
        background: url("../images/bg1_small.jpg")/*tpa=http://www.sanyi.org/images/bg1_small.jpg*/ no-repeat center top;
    }
    #section1{
        background: url("../images/bg2_small.jpg")/*tpa=http://www.sanyi.org/images/bg2_small.jpg*/ no-repeat center top;
    }
    #section2{
        background: url("../images/bg3_small.jpg")/*tpa=http://www.sanyi.org/images/bg3_small.jpg*/ no-repeat center top;
    }
    #section3{
        background: url("../images/bg4_small.jpg")/*tpa=http://www.sanyi.org/images/bg4_small.jpg*/ no-repeat center top;
    }
    #section3 .section_m{
        background: url("../images/bg4_m_small.jpg")/*tpa=http://www.sanyi.org/images/bg4_m_small.jpg*/ no-repeat center top;
    }
    #section4{
        background: url("../images/bg5_small.jpg")/*tpa=http://www.sanyi.org/images/bg5_small.jpg*/ no-repeat center top;
    }
    #section5{
        background: url("../images/bg6_small.jpg")/*tpa=http://www.sanyi.org/images/bg6_small.jpg*/ no-repeat center top;
    }
    #section6{
        background: url("../images/bg7_small.jpg")/*tpa=http://www.sanyi.org/images/bg7_small.jpg*/ no-repeat center top;
    }
}
@media screen and (min-height: 1080px){
    #section0{
        background: url("../images/bg1_big.jpg")/*tpa=http://www.sanyi.org/images/bg1_big.jpg*/ no-repeat center top;
    }
    #section1{
        background: url("../images/bg2_big.jpg")/*tpa=http://www.sanyi.org/images/bg2_big.jpg*/ no-repeat center top;
    }
    #section2{
        background: url("../images/bg3_big.jpg")/*tpa=http://www.sanyi.org/images/bg3_big.jpg*/ no-repeat center top;
    }
    #section3{
        background: url("../images/bg4_big.jpg")/*tpa=http://www.sanyi.org/images/bg4_big.jpg*/ no-repeat center top;
    }
    #section3 .section_m{
        background: url("../images/bg4_m_big.jpg")/*tpa=http://www.sanyi.org/images/bg4_m_big.jpg*/ no-repeat center top;
    }
    #section4{
        background: url("../images/bg5_big.jpg")/*tpa=http://www.sanyi.org/images/bg5_big.jpg*/ no-repeat center top;
    }
    #section5{
        background: url("../images/bg6_big.jpg")/*tpa=http://www.sanyi.org/images/bg6_big.jpg*/ no-repeat center top;
    }
    #section6{
        background: url("../images/bg7_big.jpg")/*tpa=http://www.sanyi.org/images/bg7_big.jpg*/ no-repeat center top;
    }
    

    /*首页按钮位置*/
    .sprite-ban_nav_bg{
        top:860px;
    }
    /*第五页文字大小*/
    .how li{
        height:545px;
    }
    /*第六页文字大小*/
    .h_6_p_buttom_big{
        height: 531px!important;
    }
    .h_6_p_top_big{
        height: 225px!important;
    }
    .u-reason li p{
    text-indent:0;
    }
}
/*css 动画*/
@keyframes scaleInX
{
    from {transform: scale3d(0, 1, 1)}
    to {transform: scale3d(1, 1, 1)}
}

@-moz-keyframes scaleInX /* Firefox */
{
    from {transform: scale3d(0, 1, 1)}
    to {transform: scale3d(1, 1, 1)}
}

@-webkit-keyframes scaleInX /* Safari 和 Chrome */
{
    from {transform: scale3d(0, 1, 1)}
    to {transform: scale3d(1, 1, 1)}
}

@-o-keyframes scaleInX /* Opera */
{
    from {transform: scale3d(0, 1, 1)}
    to {transform: scale3d(1, 1, 1)}
}
.scaleInX {
    -webkit-animation:scaleInX 1s forwards;
    -o-animation:scaleInX 1s forwards;
    -ms-transition:scaleInX 1s forwards;
    -moz-animation:scaleInX 1s forwards;
    animation:scaleInX 1s forwards;
}

@keyframes fadeInUp
{
    0% {
        opacity: 0;
        transform: translate3d(0, 20%, 0);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@-moz-keyframes fadeInUp /* Firefox */
{
    0% {
        opacity: 0;
        transform: translate3d(0, 20%, 0);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@-webkit-keyframes fadeInUp /* Safari 和 Chrome */
{
    0% {
        opacity: 0;
        transform: translate3d(0, 20%, 0);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@-o-keyframes fadeInUp /* Opera */
{
    0% {
        opacity: 0;
        transform: translate3d(0, 20%, 0);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}
.fadeInUp {
    -webkit-animation:fadeInUp 1s forwards;
    -o-animation:fadeInUp 1s forwards;
    -ms-transition:fadeInUp 1s forwards;
    -moz-animation:fadeInUp 1s forwards;
    animation:fadeInUp 1s forwards;
}


@keyframes flipInX
{
    0% {
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        transition-timing-function: ease-in;
        opacity: 0;
    }

    40% {
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        transition-timing-function: ease-in;
    }

    60% {
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 1;
    }

    80% {
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }

    100% {
        transform: perspective(400px);
        opacity: 1;
    }
}

@-moz-keyframes flipInX /* Firefox */
{
    0% {
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        transition-timing-function: ease-in;
        opacity: 0;
    }

    40% {
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        transition-timing-function: ease-in;
    }

    60% {
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 1;
    }

    80% {
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }

    100% {
        transform: perspective(400px);
        opacity: 1;
    }
}

@-webkit-keyframes flipInX /* Safari 和 Chrome */
{
    0% {
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        transition-timing-function: ease-in;
        opacity: 0;
    }

    40% {
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        transition-timing-function: ease-in;
    }

    60% {
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 1;
    }

    80% {
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }

    100% {
        transform: perspective(400px);
        opacity: 1;
    }
}

@-o-keyframes flipInX /* Opera */
{
    0% {
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        transition-timing-function: ease-in;
        opacity: 0;
    }

    40% {
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        transition-timing-function: ease-in;
    }

    60% {
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 1;
    }

    80% {
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }

    100% {
        transform: perspective(400px);
        opacity: 1;
    }
}
.flipInX {
    -webkit-animation:flipInX 1.5s forwards;
    -o-animation:flipInX 1.5s forwards;
    -ms-transition:flipInX 1.5s forwards;
    -moz-animation:flipInX 1.5s forwards;
    animation:flipInX 1.5s forwards;
}

@keyframes bounceIn
{
    0%, 20%, 40%, 60%, 80%, 100% {
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        transform: scale3d(.3, .3, .3);
    }

    20% {
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        transform: scale3d(.9, .9, .9);
    }

    60% {
        opacity: 1;
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        transform: scale3d(.97, .97, .97);
    }

    100% {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}

@-moz-keyframes bounceIn /* Firefox */
{
    0%, 20%, 40%, 60%, 80%, 100% {
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        transform: scale3d(.3, .3, .3);
    }

    20% {
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        transform: scale3d(.9, .9, .9);
    }

    60% {
        opacity: 1;
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        transform: scale3d(.97, .97, .97);
    }

    100% {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}

@-webkit-keyframes bounceIn /* Safari 和 Chrome */
{
    0%, 20%, 40%, 60%, 80%, 100% {
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        transform: scale3d(.3, .3, .3);
    }

    20% {
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        transform: scale3d(.9, .9, .9);
    }

    60% {
        opacity: 1;
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        transform: scale3d(.97, .97, .97);
    }

    100% {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}

@-o-keyframes bounceIn /* Opera */
{
    0%, 20%, 40%, 60%, 80%, 100% {
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        transform: scale3d(.3, .3, .3);
    }

    20% {
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        transform: scale3d(.9, .9, .9);
    }

    60% {
        opacity: 1;
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        transform: scale3d(.97, .97, .97);
    }

    100% {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}
.bounceIn {
    -webkit-animation:bounceIn 1.5s forwards;
    -o-animation:bounceIn 1.5s forwards;
    -ms-transition:bounceIn 1.5s forwards;
    -moz-animation:bounceIn 1.5s forwards;
    animation:bounceIn 1.5s forwards;
}


@keyframes zoomIn
{
    0% {
        opacity: 0;
        transform: scale3d(.3, .3, .3);
    }

    50% {
        opacity: 1;
    }
}

@-moz-keyframes zoomIn /* Firefox */
{
    0% {
        opacity: 0;
        transform: scale3d(.3, .3, .3);
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes zoomIn /* Safari 和 Chrome */
{
    0% {
        opacity: 0;
        transform: scale3d(.3, .3, .3);
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes zoomIn /* Opera */
{
    0% {
        opacity: 0;
        transform: scale3d(.3, .3, .3);
    }

    100% {
        opacity: 1;
    }
}
.zoomIn {
    -webkit-animation:zoomIn 1.5s forwards;
    -o-animation:zoomIn 1.5s forwards;
    -ms-transition:zoomIn 1.5s forwards;
    -moz-animation:zoomIn 1.5s forwards;
    animation:zoomIn 1.5s forwards;
}

@keyframes fadeInLeft
{
    0% {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@-moz-keyframes fadeInLeft /* Firefox */
{
    0% {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@-webkit-keyframes fadeInLeft /* Safari 和 Chrome */
{
    0% {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@-o-keyframes fadeInLeft /* Opera */
{
    0% {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}
.fadeInLeft {
    -webkit-animation:fadeInLeft 1.5s forwards;
    -o-animation:fadeInLeft 1.5s forwards;
    -ms-transition:fadeInLeft 1.5s forwards;
    -moz-animation:fadeInLeft 1.5s forwards;
    animation:fadeInLeft 1.5s forwards;
}

@keyframes fadeInRight
{
    0% {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@-moz-keyframes fadeInRight /* Firefox */
{
    0% {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@-webkit-keyframes fadeInRight /* Safari 和 Chrome */
{
    0% {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@-o-keyframes fadeInRight /* Opera */
{
    0% {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}
.fadeInRight {
    -webkit-animation:fadeInRight 1.5s forwards;
    -o-animation:fadeInRight 1.5s forwards;
    -ms-transition:fadeInRight 1.5s forwards;
    -moz-animation:fadeInRight 1.5s forwards;
    animation:fadeInRight 1.5s forwards;
}

@keyframes turnInDown
{
    0% {
        transform:perspective(600px) rotateX(180deg);
        opacity: 0;
        transform-origin:50% 0;
    }
    100% {
        transform:perspective(600px) rotateX(0deg);
        opacity: 1;
        transform-origin:50% 0;
    }
}

@-moz-keyframes turnInDown /* Firefox */
{
    0% {
        transform:perspective(600px) rotateX(180deg);
        opacity: 0;
        transform-origin:50% 0;
    }
    100% {
        transform:perspective(600px) rotateX(0deg);
        opacity: 1;
        transform-origin:50% 0;
    }
}

@-webkit-keyframes turnInDown /* Safari 和 Chrome */
{
    0% {
        transform:perspective(600px) rotateX(180deg);
        opacity: 0;
        transform-origin:50% 0;
    }
    100% {
        transform:perspective(600px) rotateX(0deg);
        opacity: 1;
        transform-origin:50% 0;
    }
}

@-o-keyframes turnInDown /* Opera */
{
    0% {
        transform:perspective(600px) rotateX(180deg);
        opacity: 0;
        transform-origin:50% 0;
    }
    100% {
        transform:perspective(600px) rotateX(0deg);
        opacity: 1;
        transform-origin:50% 0;
    }
}
.turnInDown {
    -webkit-animation:turnInDown 1.5s forwards;
    -o-animation:turnInDown 1.5s forwards;
    -ms-transition:turnInDown 1.5s forwards;
    -moz-animation:turnInDown 1.5s forwards;
    animation:turnInDown 1.5s forwards;
}

@keyframes bounceInDown
{
    0%, 60%, 75%, 90%, 100% {
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        transform: translate3d(0, -3000px, 0);
    }

    60% {
        opacity: 1;
        transform: translate3d(0, 25px, 0);
    }

    75% {
        transform: translate3d(0, -10px, 0);
    }

    90% {
        transform: translate3d(0, 5px, 0);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@-moz-keyframes bounceInDown /* Firefox */
{
    0%, 60%, 75%, 90%, 100% {
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        transform: translate3d(0, -3000px, 0);
    }

    60% {
        opacity: 1;
        transform: translate3d(0, 25px, 0);
    }

    75% {
        transform: translate3d(0, -10px, 0);
    }

    90% {
        transform: translate3d(0, 5px, 0);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@-webkit-keyframes bounceInDown /* Safari 和 Chrome */
{
    0%, 60%, 75%, 90%, 100% {
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        transform: translate3d(0, -3000px, 0);
    }

    60% {
        opacity: 1;
        transform: translate3d(0, 25px, 0);
    }

    75% {
        transform: translate3d(0, -10px, 0);
    }

    90% {
        transform: translate3d(0, 5px, 0);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@-o-keyframes bounceInDown /* Opera */
{
    0%, 60%, 75%, 90%, 100% {
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        transform: translate3d(0, -3000px, 0);
    }

    60% {
        /*opacity: 1;*/
        transform: translate3d(0, 25px, 0);
    }

    75% {
        transform: translate3d(0, -10px, 0);
    }

    90% {
        transform: translate3d(0, 5px, 0);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}
.turnInDown {
    -webkit-animation:bounceInDown 1.5s forwards;
    -o-animation:bounceInDown 1.5s forwards;
    -ms-transition:bounceInDown 1.5s forwards;
    -moz-animation:bounceInDown 1.5s forwards;
    animation:bounceInDown 1.5s forwards;
}